<div class="card m-4">
    <div class="card-body text-center">
        <div class="center-wrap">
            <img class="company-logo-75" src="assets:///public/images/icon.png" alt="Fusion Services Home Help">
        </div>
        <h1>Fusion Services</h1>
        <h2>Home Help</h2>
    </div>
</div>