<!DOCTYPE html>
<html>

<head>
    <%- include("partials/head.ejs"); %>
    <title>Home</title>
</head>

<body>
    <header>
        <%- include("partials/header.ejs"); %>
    </header>

    <main class="text-center">
        <div class="card m-4">
            <form class="p-4">
                <div class="form-group">
                    <label for="clientSelect">Client:</label>
                    <select class="form-control" id="clientSelect">
                    </select>
                    <div class="btn-group mt-2" role="group" aria-label="Menu">
                        <button id="next" type="button" class="btn btn-success">Next</button>
                        <button id="edit" type="button" class="btn btn-primary">Edit</button>
                        <button id="view" type="button" class="btn btn-info text-white">View work</button>
                    </div>
                </div>
            </form>
            <div class="btn-group px-4" role="group" aria-label="Menu">
                <button id="add" type="button" class="btn btn-success">Add new client</button>
                <button id="vall" type="button" class="btn btn-info text-white">View all work</button>
            </div>
            <button id="logout" type="button" class="btn btn-danger m-4">Logout</button>
        </div>
    </main>

    <!-- Add Client Modal -->
    <div class="modal fade" id="addClientModal" tabindex="-1" aria-labelledby="addClientModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addClientModalTitle">Add Client</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addClient">
                        <div class="form-group">
                            <label for="clientFirstName">First name</label>
                            <input type="text" class="form-control" id="clientFirstName" required>
                        </div>
                        <div class="form-group">
                            <label for="clientLastName">Last name</label>
                            <input type="text" class="form-control" id="clientLastName" required>
                        </div>
                        <div class="form-group">
                            <label for="clientAddress">Address</label>
                            <input type="text" class="form-control" id="clientAddress" required>
                        </div>
                        <div class="form-group">
                            <label for="clientNumber">Contact number</label>
                            <input type="tel" class="form-control" id="clientNumber" pattern="[0-9]{11}">
                        </div>
                        <div class="form-group">
                            <label for="clientEmail">Email address</label>
                            <input type="email" class="form-control" id="clientEmail">
                        </div>
                        <div class="cus-modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Add Client Modal -->

    <!-- Add Client Job Modal -->
    <div class="modal fade" id="addClientJobModal" tabindex="-1" aria-labelledby="addClientJobModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addClientJobModalTitle">Add Client Job</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addClientJob">
                        <div class="form-group">
                            <label for="addClientJobDesc" class="form-label">Description</label>
                            <textarea class="form-control" id="addClientJobDesc" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="addClientHrs" class="form-label">Hours Worked</label>
                            <select id="addClientHrs" class="form-select">
                                <option value="" selected hidden>Options...</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>
                        <span for="addEarning" class="form-label">Amount charged per hour</span>
                        <div class="input-group mt-2">
                            <span class="input-group-text">£</span>
                            <input type="number" id="addEarning" class="form-control">
                        </div>
                        <div class="cus-modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Add Client Modal -->

    <footer>
        <%- include("partials/footer.ejs"); %>
        <textarea id="clients"><%= clients %></textarea>
        <script src="assets:///public/javascripts/index.js"></script>
    </footer>
</body>

</html>