<!DOCTYPE html>
<html>

<head>
    <%- include("partials/head.ejs"); %>
    <link rel="preload" href="assets:///public/images/icon.png" as="image">
    <link rel="stylesheet" href="assets:///public/stylesheets/login.css">
    <title>Login</title>
</head>

<body>
    <form class="form-signin card shadow">
        <div class="center-wrap">
            <img class="company-logo-75" src="assets:///public/images/icon.png" alt="Fusion Services Home Help">
        </div>
        <h1 class="text-center">Fusion Services</h1>
        <h2 class="text-center">Home Help</h2>
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        </div>

        <div class="form-label-group">
            <input type="text" class="form-control" id="username" placeholder="Username" autofocus required>
            <label for="username">Username</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="password" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div class="mt-3 text-center">
                <a class="text-muted nicer-link"
                    href="ejs:///user/forgot-password">Forgot password</a>
            </div>
        <p class="mt-4 text-muted text-center">&copy; Fusion Services Home Help 2020</p>
    </form>

    <footer>
        <%- include("partials/footer.ejs"); %>
        <script src="assets:///public/javascripts/login.js"></script>
    </footer>
</body>

</html>